@import url('../../common.css');
body{
  background-color: gray;
}
#wrapper {
  width: 80%;
  max-width: 800px;
  margin: 0 auto 50px;
}
/* 해더 */
header {
  background-color: rgb(32, 87, 119);
  color: rgba(255, 255, 0, 0.884);
  text-align: center;
}
header h1 {
  font-size: 1.2em;
  font-weight: 900;
  
  padding: 10px 0 20px;
}
header h1 strong {
  color: white;
  font-size: 2.5em;
  letter-spacing: -5px;
}
header h1 span {
  font-size: 1.4em;
}
header h1 em {
  color: rgba(255, 255, 255, 0.822);
  font-size: 2em;
  letter-spacing: -5px;
}

/* 메인 */
.container {
  font-size: 0.7em;
  background: rgb(230, 229, 229);
}
.container .menu {
  float: left;
  width: 25%;
  text-decoration: underline;
  padding: 10px 20px;
}
.container .menu li{
  padding-top: 20px;
}
.container .content {
  float : right;
  width: 75%;
  background-color: white;
}
.container .content h2{
  background: rgb(170, 2, 2);
  padding: 7px 20px;
  color: yellow;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Rampart One', cursive;
  letter-spacing: -2px;
}
.container .content p {
  padding: 20px;
  line-height: 1.5;
}
footer {
  background: rgb(194, 193, 193);
  padding: 10px;
  font-size: 0.7em;
}