@import url('../../common.css');
/* 바탕 */
body{
  background-color: gray;
}
/* 틀 */
#wrapper {
  background-color: white;
  margin: 0 auto; /*중앙정렬*/
  width: 80%;
}



/* 제목 */
header{
  display: block;
  text-align: center;
  background-color: orange;
}
header h1{
  /* width: 60%; */
  margin: 0 auto; /*중앙정렬*/
  width: fit-content;
  font-size: 100px;
}
header h1 span {
  display: block;
  font-size: 19px;
  padding: 25px 0 15px ;
}
.stit {
  background-color: rgb(162, 162, 162);
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}

h1 ,.side-menu h3 {
  color: white;
  font-weight: 900;
}


/* 메인 */

.side-menu ul , .main-content , .banner { /* 중복 */
  padding: 0 10px;
}

/* 왼 */
.side-menu {
  width: 25%;
  float: left;
}
ul li {
  margin-top: 15px;
}
ul li a{
  text-decoration: underline;
  font-size: 13px;
  font-weight: 600;
}
.side-menu h3 {
  background-color: brown;
  padding: 10px;
}

/* 중앙 */
.main-content {
  background-color:lightgray;
  width: 50%;
  float: left;
}
.art-piece *{
margin: 20px 0;
}

.title {
  /* margin-top: 20px; */
}

.detail { 
  font-size: 10px;
}

/* 오 */
.banner {
  width: 25%;
  float: left;
}
.banner h3{
  font-size: 20px;
  font-weight: 700;
}
.banner h3 span {
  margin: 10px 0;
  text-decoration: underline;
}
.all {
  color: rgb(113, 113, 113);
}
.love {
  color: orange;
}
.link {
  margin-top: 20px;
  font-size: 12px;
}

 .banner span{
  display: block;
}


/* 하단 */
footer ,.title{
  background-color: rgb(9, 63, 74);
  color: white;
  padding: 7px;
  line-height: 20px;

}
footer{
  text-align: center;
  font-size: 12px;
}
